export(PermBiclust.beta.ks)
export(PermBiclust.sigclust)
export(PermBiclust.sigclust_stop)
export(PermHclust.sigclust)
export(VarPermBiclust.chisqdiff)
importFrom("stats", "cutree", "dist", "kmeans", "ks.test", "rbeta",
           "rchisq", "rnorm", "sd", "var")
importFrom("utils", "data")
